.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 0;
}

.active {
  opacity: 1;
}
